body {
    font-size: small;
    font-family: arial, sans-serif;
    background-color: #f3f2f2;
    margin: 0px;
}

.top-bar {
    height: 100px;
    border-bottom: 1px solid #dfe1e5;
    padding-left: 10px;
    background-color: #24292e;
    color: #ffffff;
    font-weight: 600;
}

.logo{
    float: left;
    height: 50;
    padding: 5px;
}

.github-mark {
    float: right;
    padding: 10px;
}

.title {
    float: left;
    width: 100%;
    padding-bottom: 10px;
}

.header {
    float: left;
}

.navigation {
    float: left;
    
}

.navigation a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
}

.navigation a:link {
    text-decoration: none;
    color: #ffffff;
}

.navigation a:hover {
    color: #cac7c7
  }

.navigation a:visited {
    text-decoration: none;
}


.link {
    cursor: pointer;
}



.inline {
    margin-left: 200px;
}


.content {
    min-width: 360px;
    max-width: 600px;
    margin-top: 100px;
    width: 100%;
}

.bookmarks {
    width: 100%;
}

.bookmarkTitleLink:link {
    color: #1a0dab;
}

.bookmarkTitleLink:visited {
    color: #660099;
}

a.bookmarkURI {
    color: #006621;
}

.bookmarkTitleLink {
    font-size: 18px;
    padding-right: 5px;
    display: inline-block;
}

.bookmarkURI {
    font-size: 14px;
    padding-top: 1px;
    display: inline-block;
}

.bookmark {
    margin-bottom: 40px;
}